/* Reset some default browser styles */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
   
}

body {
    font-family: Arial, sans-serif;
    background-color: #992828;
}

header {
    background-color: #007ACC;
    color: rgb(206, 19, 19);
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #333;
    color: rgb(151, 41, 41);
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 0 10px;
    background-color: #992828;
}

a {
    text-decoration: none;
    color: rgb(151, 123, 11);
    font-weight: bold;
}

.section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form {
    text-align: center;
    margin-top: 10px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* You can add more specific styling for different sections as needed */
#timetable h2, #queue h2, #tutor h2, #statistics h2, #materials h2 {
    color: #007ACC;
    margin-bottom: 15px;
}
