.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

/* Login Button */
button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}

/*Navigation bar styling*/
.navigation {
    border: #007bff;
    padding: 50%;
    margin: 40%;
}